@charset "UTF-8";

.hidden { display: none; }
.shown { display: table-row-group;}
p {
   font-size: 40;
}
.large-text{
   font-size: 1.5rem;
}
body{
   font-family: 'Roboto', sans-serif;
}
canvas {
   border: 2px solid black;
   border-radius: 10px;
   background-color: green;
}
