@charset "UTF-8";

.post{
    border:1px solid black;
    margin-bottom:10px;
    
}

#output{
    display:flex; /* diplay everything as a column but reverse order */
    flex-direction: column-reverse;
}

.hidden{
    display:none;
}

